* {
    box-sizing: border-box;
}
#emojicheck{
}
#emojicheck::after{
    display: inline;
    content: attr(data-emoji);
    position:relative;
    left:-3px;
    top:-3px;
    font-size: 16px;
    filter: grayscale();
    opacity: 1;
}
#emojicheck:checked:after{
    filter: grayscale(0);
}
#emojicheck ~ emoji-picker{
    display: none;
}
#emojicheck:checked ~ emoji-picker{
    display: inline;
    position: absolute;
    top:60px;
    z-index: 99999;
}
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #333;
    color: white;
    min-height: 100vh;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}
.controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#title {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    box-shadow: none;
    outline: none;
    font-size: 32px;
    height: 40px;
    font-weight: bold;
    transition: color 0.3s;
}
#title.active {
    color: #3baed9;
}
#content {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0;
    width: 100%;
    box-shadow: none;
    outline: none;
    font-size: 18px;
    flex-grow: 1;
    overflow-y: auto;
}
#timer {
    font-size: 24px;
    margin-top: 30px;
    color: #bbb;
    transition: all 0.3s;
    user-select: none;
}
#timer.active {
    font-size: 28px;
    color: #3baed9;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #bbb;
    margin-right: 10px;
    transition: color 0.3s;
}
button:hover {
    color: #fff;
}
button:before {
    font-size: 20px;
}
#newTaskButton {
    font-size: 25px;
}
#timerButton {
    width: 20px;
}
#timerButton:before {
    content: '\25B6';
    font-size: 16px;
    line-height: 20px;
}
#timerButton.stop:before {
    content: '\23F9';
    font-size: 20px;
}

.instructions {
    font-size: 14px;
    position: absolute;
    right: 20px;
    bottom: 15px;
    color: #666;
    transition: color 0.3s;
}

.instructions td {
    padding: 5px 10px;
}

.instructions:hover {
    color: #aaa;
}

kbd {
    font-weight: bold;
}


